<h1>Listing student_assignments</h1>

<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Student</th>
      <th>On time</th>
      <th>Grade</th>
      <th>Github url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student_assignment| %>
      <tr>
        <td><%= student_assignment.assignment %></td>
        <td><%= student_assignment.student %></td>
        <td><%= student_assignment.on_time %></td>
        <td><%= student_assignment.grade %></td>
        <td><%= student_assignment.github_url %></td>
        <td><%= link_to 'Show', student_assignment %></td>
        <td><%= link_to 'Edit', edit_student_assignment_path(student_assignment) %></td>
        <td><%= link_to 'Destroy', student_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student assignment', new_student_assignment_path %>
