<h1><%= @student.name %>'s Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Description</th>
      <th>Assigned</th>
      <th>Due Date</th>
      <th>On Time</th>
      <th>Grade</th>
      <th>Url</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.title %></td>
        <td><%= assignment.description %></td>
        <td><%= assignment.assigned.strftime("%m/%d/%Y") %></td>
        <td><%= assignment.due.strftime("%b %e, %l:%M %p") %></td>
        <% student_assignment = @student.completed(assignment) %>
        <% if student_assignment %>
          <td><%= link_to "gigGITy", student_assignment.github_url %></td>
          <td><% if student_assignment.on_time %>
            <i class="fa fa-smile-o success"></i>
          <% else %>
            <i class="fa fa-plus-square fail"></i>
          <% end %></td>
          <td><%= student_assignment.grade %></td>
        <% else %>
          <td colspan="3">
            <%= form_for @student.student_assignments.build, url: :student_assignments do |f| %>
              <%= f.hidden_field :student_id, value: @student.id %>
              <%= f.hidden_field :assignment_id, value: assignment.id %>
              <%= f.text_field :github_url %>
              <%= f.submit "Submit" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Assignment', new_assignment_path %>
